doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title blogpub
    link(href='/css/plug/bootstrap.min.css', type='text/css', rel='stylesheet')
    link(href='/css/admin/editor.css', type="text/css" rel="stylesheet")
  body
    div
      p
        h1.center update files
        form(action="/plugs/upload" method="post" enctype="multipart/form-data")
            input(type="text" name="path" value="/article")
            input(type="file" name="file")
            input(type="submit" value="上传")
      
