@import "../normalize.sass"

.editor
	overflow: hidden
.write
	box-sizing: border-box
	width: 50%
	float: left
	padding: 10px
	border: none
	resize: none
	position: absolute
	top: 50px
	left: 0
	right: 50%
	bottom: 50px
.preview
	position: absolute
	box-sizing: border-box
	padding: 10px
	width: 50%
	float: left
	overflow: auto
	top: 50px
	padding-bottom: 500px
	left: 50%
	right: 0
	bottom: 50px
.myEditor
	height: 500px
	float: left
	width: 50%
	box-sizing: border-box
	padding: 10px
#text-pre
	padding: 10px
	box-sizing: border-box
	height: 500px
	float: left
	width: 50%
.weibo-area
	float: left
	width: 50%
