extend layout

block css
  link(rel="stylesheet" href="css/index.css")

block content
  div.index_block.index_title
    div.index_titles
      div.index_title HI! I AM Z.MOFEI!
      div.index_subtitle When you can fly, don't give up flying.|When you can dream, don't give up dream.|When you can love, don't give up on love.|当你能飞的时候就不要放弃飞|当你能梦的时候就不要放弃梦|当你能爱的时候就不要放弃爱|——梦的起飞，朱文龙的自留地
  div.index_block.index_about
      div.aboutIntro
        div.aboutName 朱文龙 (Mofei)
        div.aboutWhite
          div.aboutTitle 一个追梦的全栈工程师，已习得技能 HTML(5) , CSS(3) , JAVASCRIPT , NODE.JS , PHP , MONGODB,REDIS 
          div.aboutInfo
            span.aboutB(title="坐标")
              span.aboutIcon  l
              span  北京·海淀
            span.aboutB(title="学历")
              span.aboutIcon  e
              span  上海交通大学
            span.aboutB(title="工作") 
              span.aboutIcon  w
              span  百度·LBS
            span.aboutB(title="兴趣") 
              span.aboutIcon  h
              span  摄影、游泳、旅游
        div.aboutSocial
          a(href="http://weibo.com/zwl1027" class="aboutSocialWeibo" target="_blank" title="新浪微博") weibo
          a(href="http://t.qq.com/zwl1989" class="aboutSocialTweibo" target="_blank" title="腾讯微博") tweibo
          a(href="http://sighttp.qq.com/authd?IDKEY=cde8616170a2ec05c94194754da4d618e5a33a16dd28b2b7" class="aboutSocialQQ" target="_blank" title="QQ") qq
          //- a(href="#" class="aboutSocialWeixin" title="微信") weixin
          a(href="http://www.linkedin.com/pub/mofei-zhu/76/914/a3" target="_blank" class="aboutSocialLinkedin" title="领英") linkenin
          a(href="https://plus.google.com/117364054641606661534/" target="_blank" class="aboutSocialGoogleplus" title="google plus") googleplus
          a(href="/img/index/cv.pdf" target="_blank" class="aboutSocialCV" title="个人简历") resume
  div.index_block.index_doing
    div.index_contact_box
      div.index_cb_title Send me Email
      div.index_cb_main 
        label
          span.index_cb_name Name:
          input(type="text")
        label
          span.index_cb_email Email:
          input(type="text")
        label
          span.index_cb_content Content:
          textarea
        label
          span Verification:
          input.index_cb_veri(type="text")
          img(src="/verification/img")
        label
          span 
          button Send to me
      


block js
  script(src="/js/index.js")



