extend layout

block css
	link(rel="stylesheet" href="/css/lab/lab.css")

block content
	.lab_comment
		a(href="http://mstaticize.zhuwenlong.com/" class="lab_block" target="_blank" title=" ☺ 使用 mStaticize 通过简单的配置，就可以实现前端资源的静态化（hash），自动替换资源引用等实用的前端文件打包功能。")
			.lab_icon.lab_icon_mstaticize
				.lab_icon_text
					p.lab_icon_title mStaticize
					p 自动、高效、简单
			.lab_explain
				p.lab_explain_title mStaticize
				p.lab_explain_text ☺ 使用 mStaticize 通过简单的配置，就可以实现前端资源的静态化（hash），自动替换资源引用等实用的前端文件打包功能。
		a(href="http://msite.zhuwenlong.com" class="lab_block" target="_blank" title="一个轻量级，基于文件系统的node.js web server框架")
			.lab_icon.lab_icon_msite
				.lab_icon_text
					p.lab_icon_title mSite
					p 回归本质，基于文件系统
			.lab_explain
				p.lab_explain_title mSite
				p.lab_explain_text 一个轻量级，基于文件系统的node.js web server框架

block js
	script(src="/js/lab/lab.js")