extend layout

block css
	link(rel="stylesheet" href=host+"/css/links/links.css")

block content
	.links-content 
		.links-title 一起玩耍的小伙伴们
		.links-list
			.links-block
				a(href="http://bh-lay.com",target="_blank")
					img(src="/img/links/bh-lay.jpg")
			.links-block
				a(href="http://www.lifucheng.com",target="_blank")
					img(src="/img/links/lifucheng.jpg")
			.links-bottom
				a(href="/#content") * 交换友情链接

block js
	script(src=host+"/js/lab/lab.js")
