extend layout

block css
	link(rel="stylesheet" href=host+"/css/message/index.css")

block content
	.message
		.comment#msgForm
	.comment-list#commentList

block js
	script(src=host+"/js/jquery.cookie.js")
	script(src=host+"/js/message/message_new.js")
