doctype html

html
  head
    meta(content="text/html" charset="UTF-8")
    meta(name="description" content="webg;")
    meta(name="author" content="朱文龙")
    meta(name="author" content="Z.Mofei")
    meta(name="keywords" content="朱文龙,Z.Mofei,Mofei,node.js,web server,框架")
    title webgl实验
    link(rel="stylesheet" href="/css/index.css")
    //- link(rel="shortcut icon" href="/favorite.ico")

  body
    iframe(src="/html/travel.html",frameborder="0")
    .bgcover
        .title webGL实验
        .sub-title * 由于webGL的特殊性，您有可能需要升级到最新版本的浏览器，才能观看本页的DEMO
    .copyRight powered by 
        a(href="http://www.zhuwenlong.com",target="_blank") zhuwenlong.com

    .main
        .main-block
            a(href="/html/travel.html",target="_blank")
                img(src="/images/travel/index.jpg")
                .main-title 迁徙轨迹